<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>ML API</title>
    <style>
      body {
        background-image: url("/static/pic.jpg");
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        }
      form,h1, p {text-align: center;}
      label {text-align: center;}
      div {text-align: center;}
    </style>
  </head>


  <body>
  <h1>Predict Iris Flower</h1>
    <form method="POST" action="/predict">
      <label for="sepal_length"></label>
      <input type="text" id="sepal_length" name="sepal_length" placeholder="Sepal Length"><br><br>
      <label for="sepal_width"></label>
      <input type="text" id="sepal_width" name="sepal_width" placeholder="Sepal Width"><br><br>
      <label for="petal_length"></label>
      <input type="text" id="petal_length" name="petal_length" placeholder="Petal Length"><br><br>
      <label for="petal_width"></label>
      <input type="text" id="petal_width" name="petal_width" placeholder="Petal Width"><br><br>
      <button type="submit">Predict</button>
    </form>
    <p class="result">{{ prediction_text }}</p>
  </body>
</html>